server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/SergioCallanPerez/config-server.git
          searchPaths: config-data
  security:
    user:
      name: root
      password: s3cr3t

management:
  endpoints:
    web:
      exposure:
        include: health, info, env