server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/SergioCallanPerez/config.git
          searchPaths: config-data
          username: ${GIT_USER}
          password: ${SIT_PASSWORD}
  security:
    user:
      name: root
      password: s3cr3t

management:
  endpoints:
    web:
      exposure:
        include: health, info, env